<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- if Logged in => use Angular NgIf to show Unordered List -->
        <ul class="nav nav-tabs me-auto mb-2 mb-lg-0"  >
          <ng-container *ngIf="accountService.currentUser$|async">
          <li class="nav-item" >
            <a type="button" class="btn btn-light "  routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item" >
            <a  type="button" class="btn btn-light" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item" >
            <a type="button" class="btn btn-light"  routerLink="/messages" routerLinkActive="active">Messages</a>
          </li> 
        </ng-container>
        <!-- <li class="nav-item" >
          <a type="button" class="btn btn-light"  routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>  -->
        </ul>
<!-- if Logged in => use Angular NgIf to show Welcome User Button -->
        <div class="btn-group" dropdown *ngIf="(accountService.currentUser$|async) as user" >
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="user Photo">
          <a  dropdownToggle type="button" class="btn btn-dark dropdown-toggle"> Welcome {{user.userName | titlecase}}</a>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-animated">
            <li role="menuitem" ><a class="dropdown-item" routerLink="member/edit">Edit Profile</a></li>
            <!-- when click => call Fucntion Logout which used in NavBar Component Class  -->
            <li role="menuitem"><a class="dropdown-item"(click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="btn-group" dropdown >
        </div>
        <!-- if Not Logged in yet then Show Angular Form -->
        <!-- when Click Login Button => Call Function Login which used in Navbar Component Class and submit it -->
        <form *ngIf="!(accountService.currentUser$|async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <!-- [(ngModel)] used to Bind Data in HTTP Request   -->
            <input 
            name="userName"
            [(ngModel)]="model.userName"
             class="form-control me-2"
              type="text" 
              placeholder="User Name">
            <input
             name="Password"
             [(ngModel)]="model.password"
             class="form-control me-2" 
             type="password" 
             placeholder="password">
            <button class="btn btn-success" type="submit">Login</button>
          </form>
        </div>
  </nav>