<form  [formGroup]="registerForm"  (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-dark"> Sign Up</h2>
   <hr>
   <app-text-input 
   [formControl]= "$any(registerForm.controls['username'])" 
   [label]="'User Name'" 
   [type]="'text'">
  </app-text-input>
   <app-text-input 
   [formControl]= "$any(registerForm.controls['password'])" 
   [label]="'Password'"
    [type]="'password'">
  </app-text-input>
   <app-text-input
    [formControl]= "$any(registerForm.controls['confirmPassword'])" 
    [label]="'Confirm Password'" 
    [type]="'password'" >
  </app-text-input>

     
    <!--just Testing Passing Data from Parent Component to Child Component-->
   <!-- <div class="mb-3">
    <label> List of Users for Test</label>
    <select class="form-select">
        <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName"> {{user.userName}} </option>
    </select>
   </div> -->     
  
   

   <div class="text-center">
    <button class="btn btn-success me-lg-2" type="submit"> Register</button>
    <button class="btn btn-outline-dark " type="button" (click)="cancel()"> Cancel </button>
   </div>
</form>
<p> Form : value  {{registerForm.value |json}}</p>
<p> Form : Status {{registerForm.status|json}}</p>

