<form  [formGroup]="registerForm"  (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-dark"> Sign Up</h2>
   <hr>
   <div class="mb-3">
      <label style="margin-right:10px;"> Gender :</label>
      <label class="form-check-label"> 
          <input  type="radio" class="form-check-input me-3" value="male"   formControlName ="gender"> Male
      </label>
      <label class="form-check-label ms-3"> 
          <input  type="radio" class="form-check-input me-3" value="female" formControlName ="gender"> Female
      </label>
   </div>
   <app-text-input 
   [formControl]= "$any(registerForm.controls['username'])" 
   [label]="'User Name'" 
   [type]="'text'">
  </app-text-input>
  <app-text-input 
   [formControl]= "$any(registerForm.controls['knownAs'])" 
   [label]="'Nick name'" 
   [type]="'text'">
  </app-text-input>
  <app-date-picker 
   [formControl]= "$any(registerForm.controls['dateOfBirth'])" 
   [label]="'Birth Date'" 
   [maxDate]="maxDate"
   >
  </app-date-picker >
  <app-text-input 
   [formControl]= "$any(registerForm.controls['city'])" 
   [label]="'City'" 
   [type]="'text'">
  </app-text-input>
  <app-text-input 
   [formControl]= "$any(registerForm.controls['country'])" 
   [label]="'Country'" 
   [type]="'text'">
  </app-text-input>
   <app-text-input 
   [formControl]= "$any(registerForm.controls['password'])" 
   [label]="'Password'"
    [type]="'password'">
  </app-text-input>
   <app-text-input
    [formControl]= "$any(registerForm.controls['confirmPassword'])"  
    [label]="'Confirm Password'" 
    [type]="'password'" >
   </app-text-input> <!-- $any function to castan expression to typeof<any>  -->

     
    <!--just Testing Passing Data from Parent Component to Child Component-->
   <!-- <div class="mb-3">
    <label> List of Users for Test</label>
    <select class="form-select">
        <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName"> {{user.userName}} </option>
    </select>
   </div> -->     
  
  <div class="row" *ngIf="validationErrors">
     <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
     </ul>
 </div> 

   <div class="text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success me-lg-2" type="submit"> Register</button>
    <button class="btn btn-outline-dark " type="button" (click)="cancel()"> Cancel </button>
   </div>
</form>


